<div class="bigcontainer">
    <h3>Team forming rules</h3>

    <div >
        <h3>Cricket</h3>
        <br>
        <div class="board">
        <ol>
            <li>There must be 11 players.</li> 
            <li>There must be one Captain and Vice Captain.</li> 
            <li>There must be one wicketKeeper.</li> 
            <li>There must be at least 3 and at most 5 Bowlers.</li> 
            <li>There must be at least 3 and at most 5 Batsmen.</li> 
            <li>There must be at least 1 and at most 3 All-Rounders.</li> 
            <li>Total Points should be less than 100.</li> 
        </ol>   
        </div>
        <br>
        <br>
        <h3>Football</h3>
        <br>
        <div class="board">
            <ol>
                <li>There must be 11 players.</li> 
                <li>There must be one Captain and Vice Captain.</li> 
                <li>There must be one GoalKeeper.</li> 
                <li>There must be at least 4 and at most 5 Defence players.</li> 
                <li>There must be at 4 and at most 6 Attacking players.</li> 
                
                <li>Total Points should be less than 100.</li>
            </ol>
             
        <!-- 1. There must be 11 players.<br>
        2. There must be one Captain and Vice Captain.<br>
        3. There must be one GoalKeeper.<br>
        4. There must be at least 4 and at most 5 Defence players.<br>
        5. There must be at least 4 and at most 6 Attacking players.<br>
        6. Total Points should be less than 100.<br> -->
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>